<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Hello, world!</title>
</head>
<header>
    <nav class="navbar">
        <a class="explore-btn" th:href="@{/}">Home</a>
        <a class="explore-btn" th:href="@{/albums}">Explore Albums</a>
        <a class="explore-btn" th:href="@{/songs}">Explore Songs</a>
    </nav>
</header>
<body>
<div class="splash-container">
    <h1>Welcome to the Songr App!</h1>
    <p>Discover and explore your favorite albums.</p>
</div>
</body>
</html>